extends template/layout.pug

block head-more
    - var title = 'Welcome!'
    - var description = 'Here we learn for fun'
    meta(name='description' content=description)
    title #{title}

block content
    #layout.pure-g
        .sidebar.pure-u-1.pure-u-md-1-4
            .header
                h1.brand-title Julien's Blog
                h2.brand-tagline Learning for fun and profits!

                nav.nav
                    ul.nav-list
                        li.nav-item
                            a.pure-button(href="template/about.html") About
                        li.nav-item
                            a.pure-button(href="template/contact.html") Contact
        .content.pure-u-1.pure-u-md-3-4
            div
                div.posts
                    h1.content-subhead Pinned Post
                    section.post
                        header.post-header
                            img.post-avatar(width="48" height="48" alt="Julien's avatar" src="img/common/avatar_julien.jpg")

                            h2.post-title Introducing Pure

                            p.post-meta
                                a.post-author By Julien under
                                a.post-category.post-category-js(href='#') Javascript

                        .post-description
                            p Super post, commencencement tout ca tout ca
                .posts
                    h1.content-subhead Recent Posts
                    section.post
                        header.post-header
                            img.post-avatar(width=48 height=48 alt="Julien's avatar" src="img/common/avatar_julien.jpg")
                            h2.post-title Post recent
                            p.post-meta
                                a.post-author By Julien under
                                a.post-category.post-category-js(href='#') Javascript

                        .post-description
                             p Super post, hh
                    section.post
                        header.post-header
                            img.post-avatar(width=48 height=48 alt="Avatar" src="img/common/ddavatar.png")
                            h2.post-title kljl
                            p.post-meta
                                a.post-author By Julien under
                                a.post-category.post-category-js(href='#') Javascript

                        .post-description
                            p Super post, 4656546
